<br><h2>Disciplinas</h2><br>
<a [routerLink]="['/disciplina']">Voltar</a><br><br>

<p><a [routerLink] = "['/disciplina-details', i, 1]">{{disciplina.disciplinas.disciplina1}}</a></p> 
<p><a [routerLink] = "['/disciplina-details', i, 2]">{{disciplina.disciplinas.disciplina2}}</a></p>
<p><a [routerLink] = "['/disciplina-details', i, 3]">{{disciplina.disciplinas.disciplina3}}</a></p>
<p><a [routerLink] = "['/disciplina-details', i, 4]">{{disciplina.disciplinas.disciplina4}}</a></p>
<p><a [routerLink] = "['/disciplina-details', i, 5]">{{disciplina.disciplinas.disciplina5}}</a></p>
<p><a [routerLink] = "['/disciplina-details', i, 6]">{{disciplina.disciplinas.disciplina6}}</a></p>
<p><a [routerLink] = "['/disciplina-details', i, 7]">{{disciplina.disciplinas.disciplina7}}</a></p>
<p><a [routerLink] = "['/disciplina-details', i, 8]">{{disciplina.disciplinas.disciplina8}}</a></p>
<p><a [routerLink] = "['/disciplina-details', i, 9]">{{disciplina.disciplinas.disciplina9}}</a></p>
